@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* -- Globals -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: #ccc;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

textarea {
    resize: none;
}

/* -- Main App -- */
.main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 10vh auto;
    background-color: #444;
    border-radius: 15px;
    position: relative;
}

/* -- App Logo -- */
.logo {
    width: 150px;
    height: 188px;
    margin: 0 auto;
    background-image: url("Media/logo-bg.png");
}

#logo-text {
    width: 100px;
    height: 27px;
    background-image: url("Media/logo.png");
    position: absolute;
    bottom: 20px;
    left: 20px;
}


/* -- Login -- */
#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    background-color: #ccc;
    font-size: 13px;
    color: #333;
}

.btn:focus {
    outline-color: none;
    outline-style: none;
}

.btn:active {
    background-color: #aaa;
}

/* -- New User -- */
#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form ul {
    width: 77%;
}

#login-form li {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

#login-form input {
    border: none;
    padding: 5px;
    width: 200px;
}

#login-form textarea {
    border: none;
    padding: 5px;
    width: 260px;
    height: 100px;
}

#submit-newuser {
    width: 70px;
    height: 30px;
    margin-left: auto;
    margin-right: 0;
    user-select: none;
}

/*-- New User Photo Upload --*/
#main-photo {
    justify-content: space-between;
}

#photo-header-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#photo-header {
    font-size: 40px;
}

#photo-form {
    display: flex;
    flex-flow: column;
}

#submit-photo {
    margin: 0;
}

#photo-form > * {
    margin: 10px auto;
}

#image-capture {
    position: fixed; 
    top: -100em;
}

#image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    border: dotted white 1.5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
}

/*-- New User NDA --*/
#main-nda {
    justify-content: flex-start;
    align-items: center;
}

#nda-header-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#nda-header {
    font-size: 26px;
}

#nda-text {
    width: 80%;
    height: 250px;
    background-color: #eee;
    overflow-y: scroll;
    padding: 20px;
}

#nda-text > * {
    font-family: serif;
    font-size: 14px;
    color: #222;
    margin-top: 15px;
    font-weight: 500;
}

#nda-text > h5 {
    text-align: center;
}

#nda-text > h6 {
    margin-top: 30px;
}

#submit-nda-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#submit-nda {
    margin: 20px 0;
}

#submit-nda:disabled {
    background-color: #cccccc33;
}
