@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* -- Globals -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* -- Main App -- */
#main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 10vh auto;
    background-color: #444;
    border-radius: 15px;
}

/* -- App Logo -- */
.logo {
    width: 150px;
    height: 188px;
    margin: 0 auto;
    background-image: url("Media/logo-bg.png");
}

/* -- Login -- */
#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    background-color: #ccc;
    font-size: 13px;
    color: #333;
}

.btn:focus {
    outline-color: none;
    outline-style: none;
}

.btn:active {
    background-color: #aaa;
}