@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* -- Globals -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: #ccc;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

textarea {
    resize: none;
}

/* -- Main App -- */
#main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 10vh auto;
    background-color: #444;
    border-radius: 15px;
    position: relative;
}

/* -- App Logo -- */
.logo {
    width: 150px;
    height: 188px;
    margin: 0 auto;
    background-image: url("Media/logo-bg.png");
}

#logo-text {
    width: 100px;
    height: 27px;
    background-image: url("Media/logo.png");
    position: absolute;
    bottom: 20px;
    left: 20px;
}


/* -- Login -- */
#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    background-color: #ccc;
    font-size: 13px;
    color: #333;
}

.btn:focus {
    outline-color: none;
    outline-style: none;
}

.btn:active {
    background-color: #aaa;
}

/* -- New User -- */
#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form ul {
    width: 77%;
}

#login-form li {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

#login-form input {
    border: none;
    padding: 5px;
    width: 200px;
}

#login-form textarea {
    border: none;
    padding: 5px;
    width: 260px;
    height: 100px;
}

#submit-newuser {
    width: 70px;
    height: 30px;
    margin-left: auto;
    margin-right: 0;
    user-select: none;
}